@charset "UTF-8";
#faq-block {
  padding: 60px 0 80px;
  background: #f5f4ec;
  color: #0f343d;
}
#faq-block .faq-block-title {
  margin: 0;
  padding-bottom: 2px;
  font-size: 40px;
  font-weight: 600;
  line-height: normal;
  text-align: center;
}
#faq-block .faq-block-subtitle {
  margin: 3px 0 0;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
}
#faq-block hr {
  margin: 20px 0 40px;
  height: 1px;
  background: currentColor;
  border: none;
}
#faq-block .faq-list {
  max-width: 700px;
  margin: 0 auto;
  list-style-type: none;
  padding-left: 0;
}
#faq-block .faq-list-item:not(:last-of-type) {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid currentColor;
}
#faq-block .faq-question {
  margin: 0;
  padding-left: 40px;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
#faq-block .faq-question::before {
  content: "›";
  display: inline-block;
  position: absolute;
  left: 0;
  top: -14px;
  font-size: 1.9em;
  font-weight: normal;
  color: #567d68;
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}
#faq-block .faq-question.is-open::before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
#faq-block .faq-answer-cont {
  display: none;
}
#faq-block .faq-answer {
  margin: 10px 0 4px;
  padding-left: 40px;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.45;
}
@media screen and (max-width: 750px) {
  #faq-block {
    padding: 50px 10px;
  }
  #faq-block .faq-block-title {
    font-size: 30px;
  }
  #faq-block .faq-block-subtitle {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.55;
  }
  #faq-block hr {
    margin: 18px 0 30px;
  }
  #faq-block .faq-question {
    padding-left: 30px;
    font-size: 17px;
  }
  #faq-block .faq-question::before {
    top: -11px;
  }
  #faq-block .faq-answer {
    padding-left: 30px;
    font-size: 14px;
    line-height: 1.55;
  }
}
@media screen and (max-width: 360px) {
  #faq-block {
    padding: 50px 0;
  }
}

#values-block {
  margin-bottom: 20px;
  text-align: center;
  background: #567d68;
  color: #f5f4ec;
}
#values-block.inverted {
  background: #f5f4ec;
  color: #567d68;
}
#values-block .values-block-inner {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 60px 30px 40px;
}
#values-block h2 {
  margin: 0 0 5px 0;
  font-size: 40px;
  font-weight: 600;
  line-height: normal;
}
#values-block p {
  margin: 0 0 50px;
  font-size: 20px;
  line-height: 1.5;
}
#values-block .values-list {
  max-width: 900px;
  margin: 0 auto;
  padding-left: 0px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#values-block .value-item {
  margin: 0 15px 48px;
  width: 150px;
}
#values-block svg {
  vertical-align: middle;
}
#values-block svg path {
  fill: currentColor;
}
#values-block .value-item-text {
  margin-top: 9px;
  font-size: 19px;
  line-height: normal;
}
@media screen and (max-width: 1000px) {
  #values-block .values-block-inner {
    padding: 50px 30px 12px;
  }
  #values-block h2 {
    font-size: 30px;
    margin: 0 0 10px 0;
  }
  #values-block p {
    font-size: 17px;
    margin: 0 0 38px;
  }
  #values-block .values-list {
    max-width: 720px;
  }
  #values-block .value-item {
    width: 100px;
  }
  #values-block svg {
    width: 87px;
    height: 87px;
  }
  #values-block .value-item-text {
    margin-top: 9px;
    font-size: 16px;
    line-height: normal;
  }
}
@media screen and (max-width: 750px) {
  #values-block .values-block-inner {
    padding: 50px 20px 32px;
  }
  #values-block .values-list {
    max-width: 430px;
  }
  #values-block .value-item {
    margin: 0 1.1vw 28px;
  }
}
@media screen and (max-width: 389px) {
  #values-block .value-item {
    margin: 0 0.675vw 28px;
  }
}
@media screen and (max-width: 374px) {
  #values-block .value-item {
    width: 92px;
  }
  #values-block svg {
    width: 70px;
    height: 70px;
  }
  #values-block .value-item-text {
    font-size: 14px;
  }
}
/*# sourceMappingURL=newstyles.css.map */