//////////// GLOBALS //////////////////
// colors
$lightcream: #fcfbf8;
$cream: #f5f4ec;
$green: #567d68;
$dark: #0f343d;
// hover colors
$whitehover: #EBE9D8;
$creamhover: #E1DEC6;
$greenhover: #416167;
$darkhover: #39533E;
// media query breakpoints
$medium-large: 1320px;
$medium: 1000px;
$medium-small-plus: 875px;
$medium-small: 750px;
$small: 475px;
///////////////////////////////////////

#faq-block 
{
	// for any given block of content you're building, when possible please put all styles inside
	// a wrapper with a class or id of the root element of that bit of markup, that way the compiled
	// styles end up namespaced so they can't accidentally affect other parts of the website
	padding: 60px 0 80px;
	background: $cream;
	color: $dark;

	.faq-block-title
	{
		margin: 0;
		padding-bottom: 2px;
		font-size: 40px;
		font-weight: 600;
		line-height: normal;
		text-align: center;
	}

	.faq-block-subtitle
	{
		margin: 3px 0 0;
		font-size: 20px;
		line-height: 1.5;
		text-align: center;
	}

	hr 
	{
		margin: 20px 0 40px;
		height: 1px;
		background: $dark;
		border: none;
	}

	.faq-list 
	{
		max-width: 700px;
		margin: 0 auto;
		list-style-type: none;
		padding-left: 0;
	}

	.faq-list-item 
	{
		&:not(:last-of-type) 
		{
			margin-bottom: 15px;
			padding-bottom: 15px;
			border-bottom: 1px solid currentColor;
		}
	}

	.faq-question 
	{
		margin: 0;
		padding-left: 40px;
		font-size: 20px;
		font-weight: 600;
		line-height: normal;
		cursor: pointer;
		-webkit-tap-highlight-color: transparent;

		// Arrow
		&::before 
		{
			content: '\203A';
			display: inline-block;
			position: absolute;
			left: 0;
			top: -14px;
			font-size: 1.9em;
			font-weight: normal;
			color: $green;
			transition: transform 300ms;
		}

		&.is-open::before 
		{
			transform: rotate(90deg);
		}
	}

	.faq-answer-cont 
	{
		display: none; // toggled with js
	} 

	.faq-answer 
	{
		margin: 10px 0 4px;
		padding-left: 40px;
		font-size: 17px;
		font-weight: 500;
		line-height: 1.45;
	}

	@media screen and (max-width: $medium-small)
	{
		padding: 50px 10px;

		.faq-block-title
		{
			font-size: 30px;
		}

		.faq-block-subtitle 
		{
			font-weight: 500;
			font-size: 14px;
			line-height: 1.55;
		}

		hr 
		{
			margin: 18px 0 30px;
		}

		.faq-question 
		{
			padding-left: 30px;
			font-size: 17px;

			&::before
			{
				top: -11px;
			}
		}

		.faq-answer 
		{
			padding-left: 30px;
			font-size: 14px;
			line-height: 1.55;
		}
	}

	@media screen and (max-width: 360px)
	{
		padding: 50px 0;
	}
}

#values-block
{
	margin-bottom: 20px;
	text-align: center;
	background: $green;
	color: $cream;

	&.inverted {
		background: $cream;
		color: $green;
	}

	.values-block-inner 
	{
		max-width: 1200px;
		margin-left: auto;
		margin-right: auto;
		padding: 60px 30px 40px;
	}
	
	h2
	{
		margin: 0 0 5px 0;
		font-size: 40px;
		font-weight: 600;
		line-height: normal;
	}

	p
	{
		margin: 0 0 50px;
		font-size: 20px;
		line-height: 1.5;
	}

	.values-list 
	{
		max-width: 900px;
		margin: 0 auto;
		padding-left: 0px;
		list-style-type: none;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.value-item 
	{
		margin: 0 15px 48px;
		width: 150px;
	}

	svg
	{
		vertical-align: middle;

		path 
		{ 
			fill: currentColor; // change the color of icons as needed
		}
	}

	.value-item-text 
	{
		margin-top: 9px;
		font-size: 19px;
		line-height: normal;
	}

	@media screen and (max-width: $medium)
	{
		.values-block-inner 
		{
			padding: 50px 30px 12px;
		}

		h2 
		{
			font-size: 30px;
			margin: 0 0 10px 0;
		}

		p
		{
			font-size: 17px;
			margin: 0 0 38px;
		}

		.values-list 
		{
			max-width: 720px;
		}

		.value-item 
		{
			width: 100px;
		}

		svg
		{
			width: 87px;
			height: 87px;
		}

		.value-item-text 
		{
			margin-top: 9px;
			font-size: 16px;
			line-height: normal;
		}
	}

	@media screen and (max-width: $medium-small) 
	{
		.values-block-inner 
		{
			padding: 50px 20px 32px;
		}

		.values-list 
		{
			max-width: 430px;
		}

		.value-item 
		{
			margin: 0 1.1vw 28px;
		}
	}

	@media screen and (max-width: 389px) 
	{ 
		.value-item 
		{
			margin: 0 0.675vw 28px;
		}
	}

	@media screen and (max-width: 374px)
	{
		.value-item 
		{
			width: 92px
		}

		svg 
		{
			width: 70px;
			height: 70px;
		}

		.value-item-text 
		{
			font-size: 14px;
		}
	}
}
